.container h1 {
    color:red ;
    
    
}

.container h2 {
    font-weight: Bold;
    gap: 20px;
    color: black;

   
}

.container h3 {
 font-style: italic;
}

.container {
    border-radius: 5px;
    background: rgba(3,3,3,0.25);
    box-shadow: 1px 1px 50px #000;
}