
  .cardcontainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 20px;
    padding: 20px;
  
  }
  .card-text {
    list-style: none;
    text-align: left;

  }

.card-img {
  max-width: 100% !important;
  height: auto !important;
  border-color: 4px solid red;
}

.card-title {
  text-align:center;
  font-weight: bold;
}

.card {
  border-radius: 5px;
  background: rgba(237, 234, 234, 0.25);
  box-shadow: 1px 1px 50px #000;
}
