.h1  {
 color: red;
 font-weight: bold;
}



.RegisterLogin input {
    width: 100%;
    display: block;
    
    
}

.form-label {
    font-weight: bold;
    color:black;
    gap: 10px;
    margin-bottom: 10px;
    
    
    
}

.span-2-cols {
    grid-column: 1 / span 2;

}



